<p id="notice"><%= notice %></p>
<div class="text-center">
<p>
  <h3>Content:</h3><%= @task.content %>
</p>
<p>
  <h3>State:</h3><%= @task.state %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
</div>